//! **************************************************************************
// Written by: Map P.40xd on Wed Jan 13 09:59:09 2016
//! **************************************************************************

SCHEMATIC START;
COMP "num1_scan_select<0>" LOCATE = SITE "C4" LEVEL 1;
COMP "num1_scan_select<1>" LOCATE = SITE "F5" LEVEL 1;
COMP "num1_seg7<0>" LOCATE = SITE "F3" LEVEL 1;
COMP "num1_seg7<1>" LOCATE = SITE "C3" LEVEL 1;
COMP "num1_seg7<2>" LOCATE = SITE "E6" LEVEL 1;
COMP "num1_seg7<3>" LOCATE = SITE "D5" LEVEL 1;
COMP "num1_seg7<4>" LOCATE = SITE "E5" LEVEL 1;
COMP "num1_seg7<5>" LOCATE = SITE "E4" LEVEL 1;
COMP "num1_seg7<6>" LOCATE = SITE "D3" LEVEL 1;
COMP "num1_seg7<7>" LOCATE = SITE "E3" LEVEL 1;
COMP "bcd_num<0>" LOCATE = SITE "T2" LEVEL 1;
COMP "bcd_num<1>" LOCATE = SITE "T1" LEVEL 1;
COMP "bcd_num<2>" LOCATE = SITE "R1" LEVEL 1;
COMP "bcd_num<3>" LOCATE = SITE "P2" LEVEL 1;
SCHEMATIC END;

