NET "Sw3_A2"   LOC = "R1";# FPGA_SW2 
NET "Sw2_A1"   LOC = "T1"; # FPGA_SW1
NET "Sw1_A0"   LOC = "T2"; # FPGA_SW0

NET "LED3_Y0"  LOC = "A8"; # FPGA_LED3
NET "LED2_Y1"  LOC = "B8"; # FPGA_LED2
NET "LED1_Y2"  LOC = "F9"; # FPGA_LED1
NET "LED13_Y3" LOC = "C10"; # FPGA_LED12
NET "LED12_Y4" LOC = "D10"; # FPGA_LED11
NET "LED11_Y5" LOC = "D11"; # FPGA_LED10
NET "LED10_Y6" LOC = "H10"; # FPGA_LED9
NET "LED9_Y7"  LOC = "G9"; # FPGA_LED8